<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/public/src/index.js"></script>
    <link rel="stylesheet" href="/public/views/styles/index.css">
</head>
<body>
    <div class="titleMain">
        <div class="mainWarpp">
            <div class="titleTop">
                <span class="siteTitle">SECCAMP MEET</span>
            </div>
            <div class="titleButtom">
                <button class="titleButton" onclick="moveMain()"><span class="titleButtonText">START</span></button>
            </div>
        </div>
    </div>
</body>
</html>